DB_NAME=ecommerce_db
DB_USER=ecommerce_user
DB_PASS=ecommerce_pass
DB_ROOT_PASS=rootpass

MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_ACCOUNT_REF=ECommerceOrder
MPESA_TXN_DESC=Order payment
